@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,400;0,600;1,200&display=swap");
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
// * {
//   font-family: "Raleway", sans-serif;
// }
// hr {
//   width: 60%;
//   margin: 20px 0;
// }

// .App {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   /* height: 100vh; */
//   width: 100%;
//   font-family: "Raleway", sans-serif;
//   background-color: #282c34;
//   color: wheat;
// }
// .pageContainer {
//   width: 60%;
//   margin: 0 auto;
// }
// .post {
//   border: 1px solid bisque;
//   margin: 2px;
//   border-radius: 5px;
//   text-align: center;
// }
// .post p {
//   width: 50%;
//   margin: 0 auto;
//   color: white;
// }
// .post h1 {
//   font-size: 18px;
// }

// h1,
// h2 {
//   font-family: "Raleway", sans-serif;
//   font-weight: 600;
//   margin: 20px 0;
// }
// h2 {
//   color: white;
//   font-weight: 400;
// }

// .slider {
//   max-width: 100%;
// }
// .slide {
//   width: 70%;
//   margin: 0 auto;
//   text-align: center;
//   h3 {
//     margin: 20px 0;
//   }
// }

// .exampleCol {
//   background-color: mediumaquamarine;
//   color: black;
//   text-align: center;
//   border: 1px solid red;
// }
